.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 990px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  /* transition: border-color var(--transition-dur-and-fun); */
}

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: #ffffff;
}

.modal-headline {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
  padding-top: 32px;
  display: flex;
  align-items: center;
}
